:root {
  --background-color-basic: #f2f2f2;
  --background-color-content: #ffffff;
  --background-color-inverse: #d6e4ed;
  --background-color-second-dark: #82b3d3;
  --background-color-second-light: rgba(131, 179, 211, 0.12);
  --background-color-second-middle: rgba(131, 179, 211, 0.2);
  --background-basic-2: rgba(0, 0, 0, 0.3);
  --texts-background-small: rgba(255, 255, 255, 0.3);
  --shadow-color-content: rgba(0, 0, 0, 0.2);
  --text-color-basic: #333333;
  --text-color-second: #000000;
  --text-color-inverse: #ffffff;
  --button-color-basic: #756157;
  --button-text-basic: #ffffff;
  --button-color-second: #82b3d3;
  --button-select: #7db54f;
  --button-underline-color: #756257;
  --form-color-input: #3f5e72;
  --form-background-input: #f2f2f2;
  --form-color-label: #000000;
  --form-color-input: #000000;
  --icons--basic: #000000;
  --icons-second: #83b3d3;
  --page-padding: 70px;
}

/*Подключение шрифтов*/

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/*Общие*/

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18;
  color: var(--text-color-basic);
  background-color: var(--background-color-basic);
  margin: 0;
}

.content-container {
  background-color: var(--background-color-content);
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 0 0 15px 0 var(--shadow-color-content);
}

.main {
  flex-grow: 1;
}

.main-title-text {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  margin: 0;
}

.subtitle-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--text-color-second);
  margin: 0;
}

.button {
  display: block;
  color: var(--button-text-basic);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--button-color-basic);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
}

.content-wrapper {
  width: 651px;
  margin: 0;
  margin-inline: auto;
  text-align: center;
}
/*
.content-item-wrapper {
  width: 230px;
  margin: 0;
  margin-inline: auto;
  text-align: center;
}

/*Хедер*/

.header {
  color: var(--text-color-second);
  display: flex;
  flex-wrap: wrap;
  padding-inline: var(--page-padding);
  gap: 30px;
  min-height: 64px;
  margin-bottom: -6px;
}

.header-logo-link {
  display: block;
  z-index: 1;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: -6px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.main-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  gap: 32px;
}

.main-nav-item {
  display: flex;
  padding: 0 16px;
  height: 64px;
  margin-bottom: 6px;
}

.item-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-color-second);
  cursor: pointer;
  border-bottom: solid 2px transparent;
}

.item-link::first-letter {
  text-transform: uppercase;
}

.item-link-current {
  border-bottom: solid 2px var(--button-underline-color);
}

.user-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
}

.user-nav-item {
  flex-shrink: 0;
}

.user-nav-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.user-nav-favorites {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px;
}

.user-nav-search::before,
.user-nav-favorites::before {
  display: block;
  content: "";
  min-width: 20px;
  min-height: 20px;
  background-color: #000000;
}

.user-nav-search::before {
  mask-image: url("../images/icons/search.svg");
  mask-repeat: no-repeat;
}

.user-nav-favorites::before {
  mask-image: url("../images/icons/favorites.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.likes-number {
  grid-column: 1/-1;
  grid-row: 1/-1;
  transform: translate(60%, -50%);
  font-size: 10px;
  line-height: 1.0;
  border-radius: 50%;
  background-color: var(--button-select);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-nav-link.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 34px;
}

/*Блок-приветствие*/

.hero {
  background-color: var(--background-color-inverse);
  color: var(--text-color-inverse);
  background-image: url("../images/hero-triangles.svg"), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: 100% auto, cover;
  padding-block: 51px 82px;
  padding-inline: var(--page-padding);
}

.hero-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/*Блок с преимуществами отдыха в Седоне*/

.benefits-intro-container {
  padding-block: 69px;
  padding-inline: var(--page-padding);
}

.benefits-intro-container h2 {
  margin-bottom: 20px;
}

.benefits-intro-container p {
  margin: 0;
}

.benefits-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.benefits-list li:first-child,
.benefits-list li:last-child {
  grid-column: span 3;
}

.benefits-item {
  font-weight: 400;
  font-size: 18px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits-item:has(img) {
  flex-direction: row;
}

.benefits-list li:last-child {
  flex-direction: row-reverse;
}

.benefits-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefits-item-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
  width: 180px;
  text-align: center;
  position: relative;
}

.benefits-item-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: var(--texts-background-small);
  left: 50%;
  bottom: -31px;
  transform: translateX(-50%);
}

.benefits-item-description {
  margin: 0;
  text-align: center;
  padding-inline: 85px;

}

.benefits-item:nth-child(2n) {
  background-color: var(--background-color-second-light);
}

.benefits-item:nth-child(2n+1) {
  background-color: var(--background-color-second-middle);
}

.benefits-item:not(:first-child, :last-child) h3::after {
  background-color: var(--background-basic-2);
}

.benefits-list .benefits-special {
  background-color: var(--background-color-second-dark);
  color: var(--text-color-inverse);
}

/*Блок с сервисом*/

.service-intro-container {
  padding-block: 64px;
  padding-inline: var(--page-padding);
}

.service-intro-container h2 {
  margin-bottom: 20px;
}

.service-intro-container p {
  margin: 0;
}

.service-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.service-list h3::before {
  content: "";
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.service-item {
  width: 33.33%;
  min-height: 385px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-block: 81px;
  box-sizing: border-box;
}

.service-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.service-item p {
  font-size: 18px;
  line-height: 1.17;
  text-wrap: balance;
  margin: 0;
}

.service-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item:nth-child(1) h3::before {
  background-image: url("../images/icons/service-house.svg");
  width: 74px;
  height: 70px;
  margin-inline: auto;
}

.service-item:nth-child(2) h3::before {
  background-image: url("../images/icons/service-food.svg");
  width: 64px;
  height: 76px;
  margin-inline: auto;
}

.service-item:nth-child(3) h3::before {
  background-image: url("../images/icons/service-gift.svg");
  width: 75px;
  height: 72px;
  margin-inline: auto;
}

/*Блок с поиском гостиницы*/

.search {
  padding-block: 96px;
  padding-inline: var(--page-padding);
}

.search h2 {
  margin-bottom: 20px;
}

.search p {
  text-wrap: balance;
  margin: 0;
  margin-bottom: 54px;
}

.search-link {
  font-size: 20px;
  line-height: 1.8;
  margin-inline: auto;
  padding-block: 8px;
  padding-inline: 50px;
}

/*Блок с подпиской на рассылку*/

.subscribe {
  color: var(--text-color-second);
  padding-block: 96px 104px;
  padding-inline: 70px;
}

.subscribe h2 {
  margin-bottom: 20px;
}

.subscribe p {
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-special {
  background-color: var(--background-color-inverse);
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-special h2 {
  color: var(--text-color-inverse);
}

.subscribe-special p {
  color: var(--text-color-inverse);
}

.subscribe-form {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.subscribe-form label {
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 1.33;
  color: var(--form-color-label);
}

.subscribe-form input {
  font-family: inherit;
  font-weight: inherit;
  font-style: 18px;
  line-height: 1.33;
  background-color: var(--form-background-input);
  border: none;
  width: 452px;
  height: 52px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

}

.subscribe-form-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 1.8;
  background-color: var(--button-color-second);
  padding-block: 8px;
  padding-inline: 50px;
  border-radius: 0 4px 4px 0;
  border: solid 1px var(--button-color-second);
}

/*Футер*/

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-block: 40px 30px;
  padding-inline: var(--page-padding);
  justify-content: space-between;
}

.social-item {
  flex-shrink: 0;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-link {
  display: block;
  width: 47px;
  height: 40px;
  color: var(--icons-second);
}

.social-vk {
  background-image: url("../images/icons/socials/vk.svg");
  background-repeat: no-repeat;
  background-size: 25px 15px;
  background-position: center;
}

.social-telegram {
  background-image: url("../images/icons/socials/telegram.svg");
  background-repeat: no-repeat;
  background-size: 18px 16px;
  background-position: center;
}
.social-youtube {
  background-image: url("../images/icons/socials/youtube.svg");
  background-repeat: no-repeat;
  background-size: 23px 18px;
  background-position: center;
}

.phone-link {
  font-family: inherit;
  font-weight: inherit;
  display: block;
  font-size: 40px;
  line-height: 1.0;
  text-transform: uppercase;
  color: var(--text-color-second);
  text-decoration: none;
  cursor: pointer;
}

.site-developer-link {
  display: block;
  width: 115px;
  height: 33px;
  background-image: url("../images/logos/html-academy.svg");
  background-repeat: no-repeat;
  background-position: 0%;
}

/*Каталог — catalog.html*/

.catalog-intro {
  background-image: url("../images/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color-inverse);
  color: var(--text-color-inverse);
  padding: 35px 70px 70px 70px; /*отступ по горизонтали специально не указала через var*/
  z-index: 10; /*чтобы спрятать низ лого, как указано на макете*/
  position: relative;
}

/*Хлебные крошки*/

.breadcrumps-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumps-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.31;
}

.breadcrumps-item:first-child {
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 12px;
  min-height: 12px;
}

.breadcrumps-item::after {
  content: "";
  display: block;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 11px;
}

.breadcrumps-item:last-child::after {
  content: none;
}

/*Блок с фильтрами*/

.filters {
  border: none;
}

.filters-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.filters-title::first-letter {
  text-transform: uppercase;
}

.filters-item {
  line-height: 1.28;
  font-size: 18px;
}

.cost-filter-block label {
  text-transform: lowercase;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 1.33;
  color: var(--form-color-label);
}

.cost-filter-block input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--form-color-input);
  background-color: var(--form-background-input);
}

.filters-button {
  background-color: var(--button-color-second);
  font-family: inherit;
}

.reset-button {
  background-color: transparent;
  font-family: inherit;
}

/*Блок общий для сортировки и отображения карточек*/

.sorting-common {
  display: flex;
  align-items: center;
  padding-block: 50px 40px;
}

/*Сортировка*/

.sorting {
  width: 292px;
  height: 49px;
  appearance:none;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-family: inherit;
  margin-right: 70px;
}

/*добавить блочки с отображением результатов поиска: плиткой, списком, карта целиком*/

.searched-cards {
  margin-right: auto;
}

.cards-view-buttons-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.cards-view-buttons-group a {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;;
  border-radius: 4px;
}

/*Блок с результатами поиска*/

.search-results {
  padding-inline: var(--page-padding);
}

.cards-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 40px;
}

.cards-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  gap: 16px 20px;
  box-sizing: border-box;
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.item-title-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--text-color-second);
}

.item-image {
  display: block;
}

.stars {
  height: 18px;
  background-image: url(../images/icons/star.svg);
  background-position: 0 center;
  background-size: 18px auto;
}

.one-star {
  width: 18px;
}

.two-stars {
  width: 36px;
}

.three-stars {
  width: 54px;
}

.four-stars {
  width: 72px;
}

.item-rating {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--text-color-second);
}

.item-favorites-button {
  background-color: var(--button-color-second);
  font-family: inherit;
}

/*Пагинация*/

.pagination-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 0;
}

.pagination-link {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  color: var(--text-color-inverse);
  background-color: var(--button-color-second);
  text-decoration: none;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

}

.pagination-current-link {
  color: var(--text-color-second);
  background-color: var(--background-color-basic);
}

.pagination-separator {
  color: var(--text-color-second);
  background-color: transparent;
}
